{% extends 'dummy.html' %}

{% block title %}
<title>Insert</title>
{% endblock %}
<style>
    #one
{
    border-radius:0px 10px 0px 10px ;
    background: linear-gradient(to right,red,black);
    color: whitesmoke;
    font-size: 20px;
    padding:2px;
    width: 150px;


}
</style>




{% block body_block %}
    <center>
        <h1>insert data here</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{CFO.as_p}}
        <input type="submit" value="Insert" class="one">
        </form>
        
       
    </center>
{% endblock %}