{% extends 'dummy.html' %}

{% block title %}
<title>Insert</title>
{% endblock %}

{% block body_block %}
<style>

    h2
    {
        background-color: red;
    }

</style>

<br> <br>

<br> <br>
<div class="container mt-3">
    <div class="row">
        {% for i in data %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <img src="{{i.photo}}" alt="No-Img" height="300px" width="300px">
                </div>
                <div class="card-body">
                    <h3>{{i.name}}</h3>
                    <h2><a href="{{i.name}}">{{i.name}}</a></h2>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>
</div>
{% endblock %}